.content {color: #333;width: 848px;font-family: "Source Sans Pro","Open Sans","Helvetica Neue",Arial;font-size: 16px;line-height: 2em;}
.content p {margin: 0 0 10px;}
.content blockquote {font-size: 14px;font-style: italic;font-family: "Droid Serif","Georgia","Times New Roman";border: 1px solid #f0f0f0;padding: 15px 20px 15px 50px;background: transparent url("../img/quote.png") no-repeat 20px 20px;}
::selection {color: white;background: black;}
img.alignright {padding: 20px 0 20px 20px;}
img.alignleft {padding: 20px 20px 20px 0;}
h1 {font-size: 1.8em;border-bottom: 1px solid #f0f0f0;padding-bottom: 10px;}
h2 {font-size: 1.4em;border-bottom: 1px solid #f0f0f0;padding-bottom: 10px;}
h3 {font-size: 1em;}
h4 {font-size: .8em;}
h5 {font-size: .7em;}
h6 {font-size: .6em;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;}
table {width: 100%;margin-bottom: 20px;}
table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd;}
table > thead > tr > th {vertical-align: bottom;border-bottom: 2px solid #ddd;}
table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > td {border-top: 0;}
table > tbody + tbody {border-top: 2px solid #ddd;}
table table {background-color: #fff;}
dl dt {margin-top: 1em;}
dl dd {margin-left: 1.25em;}